.eligibility-survey {
    display: flex;
    flex-direction: column;
    width: 768px;
    margin: 15px;

    .question {
        width: 512px;
        margin: 5px;
        display: flex;
        flex-direction: column;
        align-self: center;
    }

    .form-check {
        margin: 5px 5px 5px 30px;
    }

    .text {
        margin: 5px;
    }

    .answer {
        margin-top: 15px;
    }

    .navigation-buttons {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .question-back, .question-next {
        margin: 15px;
    }
}
