.eligibility-instructions {
    width: 768px;

    .instructions-text {
        overflow-y: auto;
        overflow-x: auto;
        max-height: 350px;
        white-space: pre-wrap;
        white-space: -moz-pre-wrap;
        white-space: -pre-wrap;
        white-space: -o-pre-wrap;
        word-wrap: break-word;
    }

    .instructions-buttons {
        padding: 15px;
        justify-content: space-evenly;

        .button {
            width: 80px;
        }
    }
}
