.eligibility-instructions {
    width: 768px;

    .instructions-text {
        overflow-y: auto;
        max-height: 350px;
    }

    .instructions-buttons {
        padding: 15px;
        justify-content: space-evenly;

        .button {
            width: 80px;
        }
    }
}
