.demographics {
    display: flex;
    flex-direction: column;
    width: 512px;

    .answer {
        margin-top: 5px;
        display: flex;
        flex-direction: row;

        .label-text {
            align-self: center;
        }

        input[type="radio"] {
            margin-right: 5px;
            align-self: center;
        }
        input[type="number"] {
            margin-left: 5px;
            width: 60px;
        }
        input[type="checkbox"] {
            margin-right: 5px;
            align-self: center;
        }
    }

    .navigation-buttons {
        padding: 15px;
        justify-content: space-around;
        align-items: center;
    }
}
