.picture-survey {
    min-width: 480px;

    figure {
        margin: 15px;
    }

    .recognizability, .desirability {
        display: flex;
        padding: 15px;
        justify-content: space-between;
    }

    .navigation-buttons {
        padding: 15px;
        justify-content: space-evenly;

        .button {
            width: 80px;
        }
    }
}
